POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB=name

BOT_TOKEN=tg_token
ADMIN_ID=tg_id

HOST=0.0.0.0
PORT=7000

USE_COLOR=True

PUBLIC_FRONT_URL=https://domain.com
CHAT_ID=chat_tag_for_sub_check

PROFILER=False